@model IEnumerable<API_New.Models.BarangKeluar>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Barang Keluar</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tableBarKeluar">
    <thead>
        <tr>
            <th>
                Id Barang Keluar
            </th>
            <th>
                Tanggal Keluar
            </th>
            <th>
                Kode Barang
            </th>
            <th>
                Jumlah
            </th>
            <th>
                Pembeli
            </th>
            <th>
                NIP Karyawan
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalKeluar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodeBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pembeli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNIP)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class="btn btn-warning btn-sm me-2" })
                    @Html.ActionLink("Details", "Details", new { id=item.Id  }, new { @class="btn btn-info btn-sm me-2" })
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class="btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
@section site{
     <script src="~/js/site.js" ></script>
 }
