@model IEnumerable<API_New.Models.Barang>

@{
    ViewData["Title"] = "Index";
}

<h1>Data Barang</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="tableBarang>
    <thead>
        <tr>
            <th>
                Kode Barang
            </th>
            <th>
                Nama Barang
            </th>
            <th>
                Jenis Barang
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KodeBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.KodeBarang }, new { @class="btn btn-warning btn-sm me-2" })
                    @Html.ActionLink("Details", "Details", new { id=item.KodeBarang }, new { @class="btn btn-info btn-sm me-2" })
                    @Html.ActionLink("Delete", "Delete", new { id=item.KodeBarang }, new { @class="btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@section site{
     <script src="~/js/site.js" ></script>
 }
