@model API_New.Models.BarangMasuk

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BarangMasuk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalMasuk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalMasuk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSuppllier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSuppllier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNIP)
        </dd>
    </dl>
    
    <form asp-action="Remove" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
