@model API_New.Models.BarangMasuk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BarangMasuk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalMasuk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalMasuk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodeBarang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodeBarang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jumlah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSuppllier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSuppllier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNIP)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
